<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


<parameter name="browser" value="chrome"></parameter>
<parameter name="url" value="https://www.facebook.com/login/"></parameter>
  <test thread-count="5" name="Test">
    <classes>
    
      <class name="Framework_TestNG.parameterExample"/>
      <class name="Framework_TestNG.GroupingExample"/>
      <class name="Framework_TestNG.sample1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
